In [1]:
%run supervised_functions.ipynb

Calculating probability for start mol sampling

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 69304/69304 [01:27<00:00, 794.68it/s]

# Data

In [ ]:
def generate_train_data(smile, steps):
    mol = Chem.MolFromSmiles(smile)

    df = pd.DataFrame(columns=['reactant', 'rsub', 'rcen', 'rsig', 'rsig_cs_indices', 'psub', 'pcen', 'psig', 'psig_cs_indices', 'product', "step"])
    index = []
    
    # Get sequences
    try:
        for i in range(steps):
            actions = get_applicable_actions(mol)
            if actions.shape[0] == 0:
                raise Exception("No actions applicable.....")

            # Apply a random action
            rand_idx = np.random.randint(0, actions.shape[0])
            product = apply_action(mol, *actions.iloc[rand_idx])

            # Add it to df
            df.loc[df.shape[0], :] = [Chem.MolToSmiles(mol)] + actions.iloc[rand_idx].tolist() + [Chem.MolToSmiles(product), i]
            index.append(actions.iloc[rand_idx].name)

            # Next reactant = product
            mol = product

        # Fix index
        df.index = index

        # Fix target
        df["product"] = Chem.MolToSmiles(product)

        # Fix steps
        df["step"] = df.shape[0] - df["step"]
    except Exception as e:
        return pd.DataFrame(columns=['reactant', 'rsub', 'rcen', 'rsig', 'rsig_cs_indices', 'psub', 'pcen', 'psig', 'psig_cs_indices', 'product', 'step'])
    
        
    return df.sample(1)

main_df_dict = {}
num_trajectories_for_test = 10000
for steps in [1, 2, 5, 10]:
    N = steps * num_trajectories_for_test

    df_list = []
    final_shape = 0
    smiles_per_random_sample = 1000
    pool_chunk_size = 10

    # Create dataset for multi-step pred
    with Pool(30) as p, tqdm.tqdm(total=N) as pbar:
        while final_shape < N:
            smiles = np.random.choice(start_mols, size=(smiles_per_random_sample,), p=categorical_probs_for_sampling_start_mols)

            for new_df in p.imap_unordered(functools.partial(generate_train_data, steps=steps), smiles, chunksize=10):
                df_list.append(new_df)
                final_shape += new_df.shape[0]

            pbar.update(final_shape - pbar.n)

    main_df_dict[steps] = pd.concat(df_list)
    print(f"Steps = {steps}", main_df_dict[steps].shape)

import pickle
pickle.dump(main_df_dict, open("models/supervised/evaluation_dict.pickle", 'wb'))

In [2]:
import pickle
main_df_dict = pickle.load(open("models/supervised/evaluation_dict.pickle", 'rb'))

In [24]:
for i in main_df_dict:
    print(main_df_dict[i].shape)
#     main_df_dict[i] = main_df_dict[i].iloc[:1000]

(1000, 11)
(1000, 11)
(1000, 11)
(1000, 11)

In [3]:
device = torch.device("cuda:1" if torch.cuda.is_available() else "cpu")

### Action dataset

In [8]:
action_dataset = pd.read_csv("datasets/my_uspto/action_dataset-filtered.csv", index_col=0)
action_dataset = action_dataset.loc[action_dataset["action_tested"] & action_dataset["action_works"]]
action_dataset = action_dataset[["rsub", "rcen", "rsig", "rbond", "psub", "pcen", "psig", "pbond"]]
print(action_dataset.shape)

action_rsigs = data.Molecule.pack(list(map(molecule_from_smile, action_dataset["rsig"])))
action_psigs = data.Molecule.pack(list(map(molecule_from_smile, action_dataset["psig"])))

(89384, 8)

/home/abhor/miniconda3/envs/de_novo/lib/python3.7/site-packages/torchdrug-0.2.0-py3.7.egg/torchdrug/data/feature.py:42: UserWarning: Unknown value `Li`
  warnings.warn("Unknown value `%s`" % x)
/home/abhor/miniconda3/envs/de_novo/lib/python3.7/site-packages/torchdrug-0.2.0-py3.7.egg/torchdrug/data/feature.py:42: UserWarning: Unknown value `Ge`
  warnings.warn("Unknown value `%s`" % x)
/home/abhor/miniconda3/envs/de_novo/lib/python3.7/site-packages/torchdrug-0.2.0-py3.7.egg/torchdrug/data/feature.py:42: UserWarning: Unknown value `K`
  warnings.warn("Unknown value `%s`" % x)
/home/abhor/miniconda3/envs/de_novo/lib/python3.7/site-packages/torchdrug-0.2.0-py3.7.egg/torchdrug/data/feature.py:42: UserWarning: Unknown value `Na`
  warnings.warn("Unknown value `%s`" % x)
/home/abhor/miniconda3/envs/de_novo/lib/python3.7/site-packages/torchdrug-0.2.0-py3.7.egg/torchdrug/data/feature.py:42: UserWarning: Unknown value `Ti`
  warnings.warn("Unknown value `%s`" % x)
/home/abhor/miniconda3/envs/de_novo/lib/python3.7/site-packages/torchdrug-0.2.0-py3.7.egg/torchdrug/data/feature.py:42: UserWarning: Unknown value `Pb`
  warnings.warn("Unknown value `%s`" % x)
/home/abhor/miniconda3/envs/de_novo/lib/python3.7/site-packages/torchdrug-0.2.0-py3.7.egg/torchdrug/data/feature.py:42: UserWarning: Unknown value `Al`
  warnings.warn("Unknown value `%s`" % x)
/home/abhor/miniconda3/envs/de_novo/lib/python3.7/site-packages/torchdrug-0.2.0-py3.7.egg/torchdrug/data/feature.py:42: UserWarning: Unknown value `Ga`
  warnings.warn("Unknown value `%s`" % x)
/home/abhor/miniconda3/envs/de_novo/lib/python3.7/site-packages/torchdrug-0.2.0-py3.7.egg/torchdrug/data/feature.py:42: UserWarning: Unknown value `Ru`
  warnings.warn("Unknown value `%s`" % x)
/home/abhor/miniconda3/envs/de_novo/lib/python3.7/site-packages/torchdrug-0.2.0-py3.7.egg/torchdrug/data/feature.py:42: UserWarning: Unknown value `Ta`
  warnings.warn("Unknown value `%s`" % x)
/home/abhor/miniconda3/envs/de_novo/lib/python3.7/site-packages/torchdrug-0.2.0-py3.7.egg/torchdrug/data/feature.py:42: UserWarning: Unknown value `As`
  warnings.warn("Unknown value `%s`" % x)
/home/abhor/miniconda3/envs/de_novo/lib/python3.7/site-packages/torchdrug-0.2.0-py3.7.egg/torchdrug/data/feature.py:42: UserWarning: Unknown value `Cr`
  warnings.warn("Unknown value `%s`" % x)
/home/abhor/miniconda3/envs/de_novo/lib/python3.7/site-packages/torchdrug-0.2.0-py3.7.egg/torchdrug/data/feature.py:42: UserWarning: Unknown value `Cd`
  warnings.warn("Unknown value `%s`" % x)
/home/abhor/miniconda3/envs/de_novo/lib/python3.7/site-packages/torchdrug-0.2.0-py3.7.egg/torchdrug/data/feature.py:42: UserWarning: Unknown value `Pt`
  warnings.warn("Unknown value `%s`" % x)

### Correct indices and applicable indices

In [25]:
# I'm storing as lists, so doing numpy operations for the elements
correct_applicable_indices = {steps: [] for steps in [1, 2, 5, 10]}
correct_action_dataset_indices = {steps: [] for steps in [1, 2, 5, 10]}
action_embedding_indices = {steps: [] for steps in [1, 2, 5, 10]}

# for indices_used_for_data, correct_idx in tqdm.tqdm(map(get_emb_indices_and_correct_idx, main_df_dict[steps].iterrows()), total=main_df_dict[steps].shape[0]):
for steps in [1, 2, 5, 10]:
    with Pool(20) as p:
        for indices_used_for_data, correct_app_idx, correct_act_idx in tqdm.tqdm(p.imap(get_emb_indices_and_correct_idx, main_df_dict[steps].iterrows(), chunksize=50), total=main_df_dict[steps].shape[0]):
            action_embedding_indices[steps].append(indices_used_for_data)
            correct_applicable_indices[steps].append(correct_app_idx)
            correct_action_dataset_indices[steps].append(correct_act_idx)

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:02<00:00, 338.71it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:02<00:00, 349.76it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:03<00:00, 268.40it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:04<00:00, 214.44it/s]

### Test data

In [26]:
%%time
_device = device
device = 'cpu'
test_reactants = {steps: data.Molecule.pack(list(map(molecule_from_smile, main_df_dict[steps]["reactant"]))).to(device) for steps in [1, 2, 5, 10]}
test_products = {steps: data.Molecule.pack(list(map(molecule_from_smile, main_df_dict[steps]["product"]))).to(device) for steps in [1, 2, 5, 10]}
test_rsigs = {steps: data.Molecule.pack(list(map(molecule_from_smile, main_df_dict[steps]["rsig"]))).to(device) for steps in [1, 2, 5, 10]}
test_psigs = {steps: data.Molecule.pack(list(map(molecule_from_smile, main_df_dict[steps]["psig"]))).to(device) for steps in [1, 2, 5, 10]}

for steps in [1, 2, 5, 10]:
    print(steps, "--", test_reactants[steps].batch_size, test_products[steps].batch_size, test_rsigs[steps].batch_size, test_psigs[steps].batch_size)
device = _device

/home/abhor/miniconda3/envs/de_novo/lib/python3.7/site-packages/torchdrug-0.2.0-py3.7.egg/torchdrug/data/feature.py:42: UserWarning: Unknown value `Li`
  warnings.warn("Unknown value `%s`" % x)
/home/abhor/miniconda3/envs/de_novo/lib/python3.7/site-packages/torchdrug-0.2.0-py3.7.egg/torchdrug/data/feature.py:42: UserWarning: Unknown value `Al`
  warnings.warn("Unknown value `%s`" % x)

1 -- 1000 1000 1000 1000
2 -- 1000 1000 1000 1000
5 -- 1000 1000 1000 1000
10 -- 1000 1000 1000 1000
CPU times: user 1min 18s, sys: 3.92 s, total: 1min 22s
Wall time: 24 s

### mse model

In [27]:
top_percentile = 90
batch_size = 128
metric_df_dict = {}

def construct_stats_from_rank_list(rank_list, total, dist, df=None):
    if df is None:
        df = pd.DataFrame(columns=[f"{distance_type}_{metric}" for distance_type in ["euc", "cos"] for metric in ["mean", "std", "total", "<10 %", "<5 %", "<1 %"]])
    
    argsort = np.argsort(rank_list)
    rl = np.array(rank_list)[argsort]
    total = np.array(total)[argsort]

    # print stats
    for step in range(1, steps+3): # steps + 3 because I start from 1 and do two extra for average and extrapolation at the end
        # Do a percentile to avoid outliers
        rl_perc = rl[:int(rl.shape[0] * top_percentile/100)]
        total_perc = total[:int(total.shape[0] * top_percentile/100)]
        
        if step == steps + 1: # do average
            rl_step = rl_perc
            total_step = total_perc
            step = "overall"
        elif step == steps + 2: # do extropolation to 1000
            factor = 1000/total_perc.mean()
            rl_step = rl_perc * factor
            total_step = total_perc * factor
            step = "extrapo"
        else:
            rl_step = rl_perc[(main_df_dict[steps]["step"] == step)[:rl_perc.shape[0]]]
            total_step = total_perc[(main_df_dict[steps]["step"] == step)[:rl_perc.shape[0]]]

        # Results
        df.loc[step, f"{dist[:3]}_mean"] = round(rl_step.mean(), 2)
        df.loc[step, f"{dist[:3]}_std"] = round(rl_step.std(), 2)
        df.loc[step, f"{dist[:3]}_total"] = round(np.mean(total_step), 2)
#             df.loc[step, f"{dist[:3]}_count"] = total_step.shape[0]
        df.loc[step, f"{dist[:3]}_<10 %"] = round((rl_step <= 10).sum() / rl_step.shape[0] * 100, 2)
        df.loc[step, f"{dist[:3]}_<5 %"] = round((rl_step <= 5).sum() / rl_step.shape[0] * 100, 2)
        df.loc[step, f"{dist[:3]}_<1 %"] = round((rl_step <= 1).sum() / rl_step.shape[0] * 100, 2)
    return df

In [28]:
import glob

model_name = "models/zinc2m_gin.pth"
gin_model = torch.load(model_name).to(device)

def mse_model_stats(actor, steps):
    pred = torch.concatenate([actor(torch.concatenate([get_mol_embedding(gin_model, test_reactants[steps][i:i+batch_size].to(device)), 
                                     get_mol_embedding(gin_model, test_products[steps][i:i+batch_size].to(device))], axis=1).detach()) for i in range(0, test_reactants[steps].batch_size-batch_size, batch_size)], axis=0)
    
    action_embeddings = get_action_dataset_embeddings(gin_model)

    # Rank list
    df = None
    for dist in ["euclidean", "cosine"]:
        rank_list = []
        total = []
        for i in range(pred.shape[0]):
            pred_for_i = pred[i]
            act_emb_for_i, correct_index = action_embeddings[action_embedding_indices[steps][i]], correct_applicable_indices[steps][i]

            rank, list_of_indices = get_ranking(pred_for_i, act_emb_for_i, correct_index, distance=dist)
            rank_list.append(rank.item())
            total.append(act_emb_for_i.shape[0])
            
        df = construct_stats_from_rank_list(rank_list, total, dist, df)
        
    return df

In [29]:
for steps in [1, 2, 5, 10]:
    path_string = f"models/supervised/mse_model/{min(steps, 5)}step.pth"
    assert len(glob.glob(path_string)) == 1
    actor = torch.load(glob.glob(path_string)[0]).to(device)
    print("STEPS =", steps)
    key = f"mse_model||steps={steps}"
    metric_df_dict[key] = mse_model_stats(actor, steps)
    display(metric_df_dict[key])
    print()
    print()

STEPS = 1

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.93it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,12.11,20.5,1623.15,71.84,60.67,31.14,11.47,20.67,1607.71,75.81,65.14,33.5
overall,12.11,20.5,1623.15,71.84,60.67,31.14,11.47,20.67,1607.71,75.81,65.14,33.5
extrapo,7.46,12.63,1000.0,79.53,68.73,31.14,7.13,12.86,1000.0,83.0,71.59,33.5

STEPS = 2

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.77it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,104.01,164.08,1019.49,39.85,30.94,16.34,97.13,156.73,1065.81,44.06,34.16,18.56
2,102.43,186.01,999.57,48.26,41.29,19.9,95.56,176.44,956.63,50.75,43.03,23.13
overall,103.22,175.37,1009.56,44.04,36.1,18.11,96.35,166.85,1011.36,47.39,38.59,20.84
extrapo,102.24,173.71,1000.0,44.04,36.1,18.11,95.27,164.98,1000.0,47.39,38.59,20.84

STEPS = 5

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 11.00it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,137.11,191.07,513.55,34.55,25.45,10.3,125.35,179.57,603.38,35.15,27.27,12.73
2,101.77,154.57,482.97,33.12,25.48,9.55,92.85,145.05,482.24,36.94,26.11,12.74
3,108.74,157.85,447.81,39.01,30.22,11.54,99.13,147.45,435.47,40.11,34.07,15.93
4,92.3,157.85,476.52,37.17,19.47,6.19,85.42,149.69,470.59,39.82,20.35,7.96
5,84.75,157.47,426.86,48.15,34.39,12.17,77.69,147.87,402.39,51.85,36.51,15.34
overall,105.26,165.52,467.23,38.83,27.79,10.3,96.32,155.41,476.12,41.19,29.78,13.4
extrapo,225.29,354.26,1000.0,25.06,16.25,0.0,202.31,326.41,1000.0,26.8,18.73,0.0

STEPS = 10

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.90it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,44.31,66.85,313.49,39.58,22.92,4.17,41.75,62.53,263.19,39.58,21.88,9.38
2,74.7,99.24,220.0,36.0,22.0,8.0,69.24,90.68,314.04,34.0,22.0,8.0
3,54.02,101.05,196.86,50.0,34.0,9.0,50.51,93.49,258.58,50.0,34.0,10.0
4,62.63,103.93,216.34,51.22,36.59,14.63,59.78,99.39,229.71,48.78,36.59,20.73
5,57.35,86.14,223.6,42.68,25.61,12.2,53.46,79.96,164.18,41.46,24.39,13.41
6,56.72,97.67,201.08,50.6,37.35,9.64,52.78,88.71,186.54,49.4,37.35,14.46
7,61.25,94.54,221.82,33.33,19.54,3.45,57.95,89.77,251.31,28.74,19.54,3.45
8,27.01,73.12,160.13,74.67,66.67,36.0,25.56,69.08,177.48,74.67,66.67,37.33
9,97.36,124.28,373.44,31.58,22.11,4.21,91.05,114.51,380.11,29.47,22.11,7.37
10,54.46,77.85,193.57,39.29,30.36,7.14,50.96,72.55,219.18,37.5,30.36,12.5
overall,59.05,96.27,237.18,44.91,31.51,10.55,55.4,89.59,245.86,43.42,31.27,13.4
extrapo,248.95,405.87,1000.0,18.24,10.55,0.0,225.32,364.38,1000.0,20.22,13.4,0.0

### Actor only

In [30]:
import glob

batch_size = 128
def actor_only_stats(actor, steps):
    pred = torch.concatenate([actor(test_reactants[steps][i:i+batch_size].to(device), 
                                     test_products[steps][i:i+batch_size].to(device)).detach() for i in range(0, test_reactants[steps].batch_size-batch_size, batch_size)], axis=0)

    action_embeddings = get_action_dataset_embeddings(actor.GIN)

    # Rank list
    df = None
    for dist in ["euclidean", "cosine"]:
        rank_list = []
        total = []
        for i in range(pred.shape[0]):
            pred_for_i = pred[i]
            act_emb_for_i, correct_index = action_embeddings[action_embedding_indices[steps][i]], correct_applicable_indices[steps][i]

            rank, list_of_indices = get_ranking(pred_for_i, act_emb_for_i, correct_index, distance=dist)
            rank_list.append(rank.item())
            total.append(act_emb_for_i.shape[0])
        
        df = construct_stats_from_rank_list(rank_list, total, dist, df)
        
    return df
#         print("\t".join(list(map(str, df.values[0]))))

In [31]:
for steps in [1, 2, 5, 10]:
    path_string = f"models/supervised/actor/*steps={min(steps, 5)}*/model.pth"
#     path_string = f"models/supervised/actor/1step/*/model.pth"
    assert len(glob.glob(path_string)) == 1
    actor = torch.load(glob.glob(path_string)[0]).to(device)
    print("STEPS =", steps)
    key = f"actor_only||steps={steps}"
    metric_df_dict[key] = actor_only_stats(actor, steps)
    display(metric_df_dict[key])
    print()
    print()

STEPS = 1

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.04it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,1.64,1.24,1649.96,100.0,97.27,69.98,1.32,0.63,1668.32,100.0,100.0,76.43
overall,1.64,1.24,1649.96,100.0,97.27,69.98,1.32,0.63,1668.32,100.0,100.0,76.43
extrapo,0.99,0.75,1000.0,100.0,100.0,69.98,0.79,0.38,1000.0,100.0,100.0,76.43

STEPS = 2

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.98it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,41.24,86.15,1060.12,63.37,54.95,33.42,28.95,59.73,1050.09,69.06,61.14,39.6
2,44.74,102.52,1008.29,68.66,61.94,42.29,31.52,72.11,1017.39,72.39,66.17,48.26
overall,42.99,94.69,1034.27,66.0,58.44,37.84,30.23,66.21,1033.78,70.72,63.65,43.92
extrapo,41.56,91.55,1000.0,66.0,58.44,37.84,29.25,64.04,1000.0,70.72,63.65,43.92

STEPS = 5

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.42it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,121.8,190.32,540.56,38.18,32.73,16.36,99.43,162.13,579.27,41.21,35.15,20.0
2,85.82,148.75,460.52,41.4,29.94,16.56,69.62,127.08,448.43,45.86,33.76,20.38
3,91.98,150.81,484.31,41.76,37.36,20.33,73.59,125.51,465.41,45.6,39.01,23.63
4,80.37,155.36,387.29,45.13,30.97,11.5,65.92,132.17,514.88,51.33,38.94,15.04
5,74.16,153.43,402.56,56.08,43.92,19.58,60.72,130.2,416.79,60.32,49.74,24.87
overall,91.08,161.39,458.42,44.79,35.61,17.37,74.01,136.73,480.95,49.01,39.7,21.34
extrapo,198.68,352.06,1000.0,32.01,24.81,0.0,153.89,284.29,1000.0,37.1,28.29,0.0

STEPS = 10

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.04it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,42.34,63.21,214.81,41.67,28.12,10.42,35.8,55.76,263.33,44.79,31.25,11.46
2,70.82,91.33,292.82,36.0,24.0,8.0,61.36,81.33,215.5,40.0,32.0,10.0
3,49.8,90.8,233.42,52.0,42.0,10.0,43.35,81.25,341.16,55.0,44.0,16.0
4,59.33,96.84,243.5,52.44,39.02,21.95,51.8,86.6,199.52,57.32,43.9,24.39
5,54.15,79.38,244.55,42.68,29.27,13.41,46.76,70.51,240.63,47.56,34.15,14.63
6,52.6,86.53,192.2,50.6,40.96,15.66,45.93,77.25,203.23,56.63,44.58,18.07
7,58.07,87.52,199.95,34.48,20.69,3.45,49.99,78.24,254.97,42.53,24.14,6.9
8,24.84,66.08,137.75,74.67,66.67,40.0,21.97,60.11,124.52,76.0,73.33,49.33
9,91.22,111.31,341.32,32.63,23.16,7.37,79.84,99.81,379.61,37.89,27.37,7.37
10,51.64,73.64,354.7,39.29,32.14,12.5,44.48,65.64,238.3,44.64,33.93,12.5
overall,55.5,87.94,241.43,45.78,34.62,14.02,48.15,78.56,253.18,50.37,38.71,16.87
extrapo,229.86,364.26,1000.0,22.83,14.02,0.0,190.17,310.28,1000.0,25.81,16.87,0.0

### Actor + critic

In [32]:
import glob

batch_size = 128
def actor_critic_separate_stats(actor, critic, k, steps):
    pred = torch.concatenate([actor(test_reactants[steps][i:i+batch_size].to(device), 
                                     test_products[steps][i:i+batch_size].to(device)).detach() for i in range(0, test_reactants[steps].batch_size-batch_size, batch_size)], axis=0)

    action_embeddings = get_action_dataset_embeddings(actor.GIN)

    # Rank list
    df = None
    for dist in ["euclidean", "cosine"]:
        rank_list = []
        total = []
        dict_of_list_of_indices = {}

        for i in tqdm.tqdm(range(pred.shape[0])):
            pred_for_i = pred[i]
            act_emb_for_i, correct_index = action_embeddings[action_embedding_indices[steps][i]], correct_applicable_indices[steps][i]

            # Get default rank
            rank, list_of_indices = get_ranking(pred_for_i, act_emb_for_i, correct_index, distance=dist)
            rank = rank.item()
            rank_list.append(rank)
            total.append(act_emb_for_i.shape[0])

            # Save list of indices for critic
            list_of_indices = get_top_k_indices(pred_for_i, act_emb_for_i, correct_index, distance=dist, k=k).detach().cpu().numpy()
            if correct_index in list_of_indices:
                dict_of_list_of_indices[i] = list_of_indices

        # Post process with critic
        i_sorted = sorted(list(dict_of_list_of_indices.keys()))
        action_indices = np.concatenate([action_embedding_indices[steps][i][dict_of_list_of_indices[i]] for i in i_sorted])
        state_indices = np.concatenate([np.full_like(dict_of_list_of_indices[i], i) for i in i_sorted])
        critic_batch = 1024
        critic_qs = []
        for i in tqdm.tqdm(range(0, action_indices.shape[0], critic_batch)):
            batch_reactants = test_reactants[steps][state_indices[i:i+critic_batch]]
            batch_products = test_products[steps][state_indices[i:i+critic_batch]]
            batch_rsigs = action_rsigs[action_indices[i:i+critic_batch]]
            batch_psigs = action_psigs[action_indices[i:i+critic_batch]]
            critic_qs.append(critic(batch_reactants.to(device), batch_products.to(device), batch_rsigs.to(device), batch_psigs.to(device)).detach().cpu().numpy())

        critic_qs = np.concatenate(critic_qs)

        start = 0
        for i in i_sorted:
            end = start + dict_of_list_of_indices[i].shape[0]
            i_critic_qs = critic_qs[start:end]
            rank = (dict_of_list_of_indices[i][i_critic_qs.reshape(-1).argsort()[::-1]] == correct_index).argmax() + 1
            rank_list[i] = rank
            start = end

        df = construct_stats_from_rank_list(rank_list, total, dist, df)
    return df

In [33]:
for k in [10, 20, 50]:
    for steps in [1, 2, 5, 10]:
        path_string = f"models/supervised/actor/*steps={min(steps, 5)}*/model.pth"
        assert len(glob.glob(path_string)) == 1
        actor = torch.load(glob.glob(path_string)[0]).to(device)

        path_string = f"models/supervised/critic/*steps={min(steps, 5)}*/model.pth"
        assert len(glob.glob(path_string)) == 1
        critic = torch.load(glob.glob(path_string)[0]).to(device)

        print("STEPS =", steps, " || K = ", k)
        key = f"actor+critic||steps={steps}||criticK={k}"
        metric_df_dict[key] = actor_critic_separate_stats(actor, critic, k, steps)
        display(metric_df_dict[key])
        print()
        print()

STEPS = 1  || K =  10

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.65it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1529.53it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 8/8 [00:00<00:00,  8.43it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1276.34it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 9/9 [00:00<00:00,  9.39it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,1.0,0.0,1647.05,100.0,100.0,100.0,1.0,0.0,1680.06,100.0,100.0,100.0
overall,1.0,0.0,1647.05,100.0,100.0,100.0,1.0,0.0,1680.06,100.0,100.0,100.0
extrapo,0.61,0.0,1000.0,100.0,100.0,100.0,0.6,0.0,1000.0,100.0,100.0,100.0

STEPS = 2  || K =  10

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.05it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1465.23it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:00<00:00,  7.34it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1277.78it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:00<00:00,  7.65it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,40.47,86.49,1091.94,63.37,61.39,58.17,28.31,59.99,1063.93,69.06,65.84,62.62
2,44.08,102.79,976.32,68.66,66.92,64.93,31.02,72.3,1003.49,72.39,69.9,67.41
overall,42.27,94.98,1034.27,66.0,64.14,61.54,29.66,66.43,1033.78,70.72,67.87,65.01
extrapo,40.87,91.84,1000.0,66.0,64.14,61.54,28.69,64.26,1000.0,70.72,67.87,65.01

STEPS = 5  || K =  10

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.89it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1596.20it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00,  7.20it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1313.12it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  8.20it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,121.09,190.73,545.39,38.18,38.18,36.97,98.8,162.5,540.33,41.82,40.0,39.39
2,84.91,149.24,372.99,41.4,38.85,38.85,68.66,127.56,444.3,45.86,43.31,42.68
3,91.35,151.19,527.51,41.76,41.76,41.76,73.07,125.82,523.6,45.6,42.86,42.86
4,79.16,155.95,404.02,45.13,41.59,40.71,64.58,132.8,407.81,51.33,49.56,49.56
5,72.98,153.97,419.46,56.08,53.97,53.97,59.57,130.69,462.19,60.32,59.26,58.2
overall,90.17,161.87,458.42,44.79,43.3,42.93,73.12,137.18,480.95,49.13,47.15,46.65
extrapo,196.69,353.11,1000.0,43.18,43.05,0.0,152.03,285.24,1000.0,47.15,47.02,0.0

STEPS = 10  || K =  10

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.65it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1542.00it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00,  5.10it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1268.56it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  5.64it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,41.12,63.93,202.14,41.67,39.58,38.54,34.61,56.43,204.86,44.79,43.75,41.67
2,69.82,92.06,285.16,36.0,36.0,34.0,60.42,81.99,237.2,40.0,38.0,38.0
3,48.62,91.38,247.7,52.0,50.0,49.0,42.19,81.81,233.69,55.0,54.0,52.0
4,58.32,97.41,269.1,52.44,51.22,46.34,50.63,87.23,177.56,57.32,56.1,53.66
5,52.99,80.1,246.89,42.68,41.46,40.24,45.59,71.21,278.57,47.56,45.12,42.68
6,51.52,87.13,252.39,50.6,49.4,48.19,44.76,77.87,222.27,56.63,54.22,50.6
7,57.03,88.15,213.78,34.48,31.03,26.44,48.56,79.06,312.52,42.53,40.23,34.48
8,24.08,66.33,150.99,74.67,74.67,74.67,21.41,60.28,199.19,76.0,74.67,74.67
9,90.42,111.93,339.76,32.63,30.53,28.42,78.89,100.53,337.61,37.89,35.79,33.68
10,50.79,74.19,191.09,39.29,39.29,37.5,43.73,66.14,341.3,44.64,41.07,41.07
overall,54.47,88.54,241.43,45.78,44.29,42.31,47.08,79.15,253.18,50.37,48.51,46.28
extrapo,225.63,366.71,1000.0,42.56,42.31,0.0,185.94,312.64,1000.0,46.65,46.28,0.0

STEPS = 1  || K =  20

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.21it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1554.64it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 17/17 [00:01<00:00,  8.80it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1303.14it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 18/18 [00:02<00:00,  7.54it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,1.0,0.0,1666.26,100.0,100.0,100.0,1.0,0.0,1679.44,100.0,100.0,100.0
overall,1.0,0.0,1666.26,100.0,100.0,100.0,1.0,0.0,1679.44,100.0,100.0,100.0
extrapo,0.6,0.0,1000.0,100.0,100.0,100.0,0.6,0.0,1000.0,100.0,100.0,100.0

STEPS = 2  || K =  20

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.02it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1435.43it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 11/11 [00:01<00:00,  6.79it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1244.34it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 12/12 [00:01<00:00,  7.04it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,39.89,86.7,1003.61,68.32,65.84,61.39,27.98,60.11,1071.37,71.53,69.06,64.6
2,43.66,102.93,1065.09,71.39,69.65,66.92,30.73,72.4,996.01,74.88,72.39,69.4
overall,41.77,95.16,1034.27,69.85,67.74,64.14,29.35,66.54,1033.78,73.2,70.72,67.0
extrapo,40.39,92.0,1000.0,69.85,67.74,64.14,28.39,64.36,1000.0,73.2,70.72,67.0

STEPS = 5  || K =  20

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.94it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1461.46it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 7/7 [00:00<00:00,  7.12it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1283.49it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 7/7 [00:00<00:00,  7.14it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,120.35,191.17,521.44,43.64,43.03,43.03,98.34,162.76,554.1,45.45,43.64,43.03
2,83.76,149.82,485.45,48.41,48.41,47.13,67.9,127.91,442.1,52.23,49.68,48.41
3,90.64,151.57,473.76,46.7,46.7,46.15,72.47,126.11,477.59,48.9,47.25,46.7
4,77.18,156.83,418.48,59.29,55.75,53.98,63.35,133.32,510.19,61.06,61.06,57.52
5,71.97,154.39,390.06,62.96,61.9,61.9,58.95,130.94,435.1,65.61,64.02,62.96
overall,89.12,162.4,458.42,51.99,51.12,50.5,72.43,137.51,480.95,54.47,52.85,51.61
extrapo,194.4,354.27,1000.0,50.99,50.99,0.0,150.59,285.92,1000.0,52.61,52.11,0.0

STEPS = 10  || K =  20

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.69it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1587.18it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 7/7 [00:01<00:00,  5.37it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1246.85it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 7/7 [00:01<00:00,  5.63it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,40.41,64.29,290.29,44.79,43.75,42.71,34.02,56.69,195.3,52.08,44.79,43.75
2,69.3,92.41,358.5,42.0,38.0,38.0,60.08,82.21,246.24,44.0,42.0,40.0
3,48.03,91.64,179.54,56.0,54.0,53.0,41.76,81.98,270.96,59.0,56.0,54.0
4,57.54,97.81,222.74,58.54,54.88,53.66,50.13,87.48,182.87,62.2,58.54,57.32
5,52.34,80.46,257.56,51.22,45.12,42.68,44.98,71.53,267.28,52.44,51.22,46.34
6,50.77,87.5,194.18,57.83,54.22,50.6,44.19,78.14,251.01,61.45,57.83,56.63
7,55.87,88.79,216.25,43.68,40.23,35.63,47.87,79.41,245.55,47.13,43.68,41.38
8,23.93,66.36,144.51,76.0,74.67,74.67,21.17,60.33,216.12,77.33,76.0,76.0
9,89.71,112.46,378.58,40.0,35.79,33.68,78.38,100.89,350.68,40.0,40.0,37.89
10,50.11,74.57,173.7,46.43,41.07,41.07,42.98,66.52,308.41,51.79,46.43,41.07
overall,53.79,88.89,241.43,51.74,48.39,46.65,46.55,79.41,253.18,54.84,51.74,49.63
extrapo,222.8,368.18,1000.0,46.77,46.65,0.0,183.86,313.64,1000.0,49.88,49.63,0.0

STEPS = 1  || K =  50

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.76it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1483.47it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42/42 [00:04<00:00,  8.60it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1243.57it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.17it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,1.0,0.0,1654.48,100.0,100.0,100.0,1.0,0.0,1671.81,100.0,100.0,100.0
overall,1.0,0.0,1654.48,100.0,100.0,100.0,1.0,0.0,1671.81,100.0,100.0,100.0
extrapo,0.6,0.0,1000.0,100.0,100.0,100.0,0.6,0.0,1000.0,100.0,100.0,100.0

STEPS = 2  || K =  50

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 11.00it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1509.00it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:03<00:00,  8.29it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1255.03it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 30/30 [00:03<00:00,  7.94it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,39.38,86.86,1022.89,70.3,68.07,62.38,26.92,60.22,1073.9,73.51,72.03,66.58
2,43.08,103.09,1045.7,74.13,71.39,67.41,29.82,72.56,993.47,78.86,75.37,71.39
overall,41.23,95.31,1034.27,72.21,69.73,64.89,28.36,66.68,1033.78,76.18,73.7,68.98
extrapo,39.86,92.16,1000.0,72.21,69.73,64.89,27.44,64.5,1000.0,76.18,73.7,68.98

STEPS = 5  || K =  50

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.87it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1567.86it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 17/17 [00:02<00:00,  6.44it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1196.06it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 19/19 [00:02<00:00,  6.63it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,120.07,191.32,560.15,44.24,43.03,42.42,97.76,163.05,575.54,46.06,45.45,43.64
2,83.43,149.97,467.88,49.68,48.41,46.5,67.27,128.17,439.36,54.14,52.87,49.68
3,90.35,151.71,415.34,48.35,46.7,46.15,71.92,126.37,477.86,52.2,48.9,46.7
4,76.9,156.93,454.8,61.06,57.52,52.21,62.73,133.53,490.17,62.83,61.06,61.06
5,71.66,154.51,405.4,64.02,61.9,61.38,58.47,131.1,430.37,68.25,65.61,64.02
overall,88.82,162.53,458.42,53.23,51.36,49.88,71.86,137.75,480.95,56.58,54.59,52.73
extrapo,193.74,354.55,1000.0,50.87,50.12,0.0,149.42,286.41,1000.0,54.22,52.98,0.0

STEPS = 10  || K =  50

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.84it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1394.24it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 15/15 [00:03<00:00,  4.75it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1234.84it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 17/17 [00:03<00:00,  5.33it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,39.41,64.5,248.22,44.79,43.75,41.67,32.84,56.8,188.53,52.08,44.79,42.71
2,68.26,92.88,342.04,42.0,38.0,36.0,59.14,82.59,332.26,44.0,40.0,38.0
3,47.31,91.81,271.01,56.0,54.0,51.0,40.91,82.12,214.21,59.0,56.0,54.0
4,57.13,97.93,251.61,58.54,54.88,52.44,49.67,87.56,228.3,62.2,58.54,54.88
5,51.62,80.66,219.79,51.22,45.12,42.68,44.23,71.69,285.87,52.44,47.56,45.12
6,50.42,87.59,221.0,59.04,54.22,50.6,43.92,78.18,296.78,61.45,56.63,54.22
7,54.83,89.14,227.09,43.68,39.08,33.33,46.89,79.63,179.17,47.13,42.53,37.93
8,23.32,66.37,150.99,77.33,74.67,74.67,20.79,60.31,269.87,77.33,76.0,74.67
9,89.12,112.8,312.79,40.0,35.79,32.63,78.02,101.06,315.33,40.0,38.95,35.79
10,49.32,74.82,156.55,46.43,41.07,39.29,42.14,66.66,274.09,51.79,46.43,41.07
overall,53.07,89.11,241.43,51.99,48.26,45.53,45.85,79.56,253.18,54.84,50.87,48.01
extrapo,219.83,369.09,1000.0,46.15,45.53,0.0,181.1,314.24,1000.0,48.64,48.01,0.0

### Actor(mse)-critic

In [34]:
import glob

batch_size = 128
def actor_critic_stats(ac, k, steps):
    pred = torch.concatenate([ac(test_reactants[steps][i:i+batch_size].to(device), 
                                     test_products[steps][i:i+batch_size].to(device), None, None, "actor").detach() for i in range(0, test_reactants[steps].batch_size-batch_size, batch_size)], axis=0)

    action_embeddings = get_action_dataset_embeddings(ac.GIN)

    # Rank list
    df = None
    for dist in ["euclidean", "cosine"]:
        rank_list = []
        total = []
        dict_of_list_of_indices = {}

        for i in tqdm.tqdm(range(pred.shape[0])):
            pred_for_i = pred[i]
            act_emb_for_i, correct_index = action_embeddings[action_embedding_indices[steps][i]], correct_applicable_indices[steps][i]

            # Get default rank
            rank, list_of_indices = get_ranking(pred_for_i, act_emb_for_i, correct_index, distance=dist)
            rank = rank.item()
            rank_list.append(rank)
            total.append(act_emb_for_i.shape[0])

            # Save list of indices for critic
            list_of_indices = get_top_k_indices(pred_for_i, act_emb_for_i, correct_index, distance=dist, k=k).detach().cpu().numpy()
            if correct_index in list_of_indices:
                dict_of_list_of_indices[i] = list_of_indices

        # Post process with critic
        i_sorted = sorted(list(dict_of_list_of_indices.keys()))
        action_indices = np.concatenate([action_embedding_indices[steps][i][dict_of_list_of_indices[i]] for i in i_sorted])
        state_indices = np.concatenate([np.full_like(dict_of_list_of_indices[i], i) for i in i_sorted])
        critic_batch = 1024
        critic_qs = []
        for i in tqdm.tqdm(range(0, action_indices.shape[0], critic_batch)):
            batch_reactants = test_reactants[steps][state_indices[i:i+critic_batch]]
            batch_products = test_products[steps][state_indices[i:i+critic_batch]]
            batch_rsigs = action_rsigs[action_indices[i:i+critic_batch]]
            batch_psigs = action_psigs[action_indices[i:i+critic_batch]]
            critic_qs.append(ac(batch_reactants.to(device), batch_products.to(device), batch_rsigs.to(device), batch_psigs.to(device), "critic").detach().cpu().numpy())

        critic_qs = np.concatenate(critic_qs)

        start = 0
        for i in tqdm.tqdm(i_sorted):
            end = start + dict_of_list_of_indices[i].shape[0]
            i_critic_qs = critic_qs[start:end]
            rank = (dict_of_list_of_indices[i][i_critic_qs.reshape(-1).argsort()[::-1]] == correct_index).argmax() + 1
            rank_list[i] = rank
            start = end

            df = construct_stats_from_rank_list(rank_list, total, dist, df)
    return df

In [35]:
# SUpervised
for actor_loss in ["mse", "triplet"]:
    for k in [10, 20, 50]:
        for steps in [1, 2, 5, 10]:
            path_string = f"models/supervised/actor-critic/*{actor_loss}*steps={min(steps, 5)}*/model.pth"
            assert len(glob.glob(path_string)) == 1
            ac = torch.load(glob.glob(path_string)[0]).to(device)

            print(f"ACTOR LOSS = {actor_loss} || K = {k} || STEPS = {steps}")
            key = f"actor-critic({actor_loss})||steps={steps}||criticK={k}"
            metric_df_dict[key] = actor_critic_stats(ac, k, steps)
            display(metric_df_dict[key])
            print()
            print()

ACTOR LOSS = mse || K = 10 || STEPS = 1

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.71it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1394.60it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 9/9 [00:01<00:00,  8.13it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 880/880 [00:02<00:00, 382.94it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1273.77it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 9/9 [00:01<00:00,  7.53it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 881/881 [00:02<00:00, 380.48it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,1.0,0.0,1675.58,100.0,100.0,100.0,1.0,0.0,1682.48,100.0,100.0,100.0
overall,1.0,0.0,1675.58,100.0,100.0,100.0,1.0,0.0,1682.48,100.0,100.0,100.0
extrapo,0.6,0.0,1000.0,100.0,100.0,100.0,0.59,0.0,1000.0,100.0,100.0,100.0

ACTOR LOSS = mse || K = 10 || STEPS = 2

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.80it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1431.97it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:00<00:00,  7.53it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 554/554 [00:02<00:00, 263.41it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1327.25it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:00<00:00,  7.34it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 577/577 [00:02<00:00, 263.33it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,33.16,73.07,1038.35,66.58,64.36,61.39,26.04,58.15,1047.34,69.8,66.58,64.36
2,36.42,86.51,1028.95,70.9,68.91,66.92,28.95,69.64,1052.37,73.38,71.14,68.91
overall,34.79,80.07,1033.66,68.73,66.63,64.14,27.49,64.16,1049.85,71.59,68.86,66.63
extrapo,33.65,77.47,1000.0,68.73,66.63,64.14,26.18,61.11,1000.0,71.59,68.86,66.63

ACTOR LOSS = mse || K = 10 || STEPS = 5

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.79it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1475.26it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  6.73it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 381/381 [00:02<00:00, 136.97it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1320.29it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  6.47it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 420/420 [00:02<00:00, 140.51it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,105.02,167.16,551.35,40.0,39.39,39.39,88.93,146.03,500.91,43.64,43.03,42.42
2,73.87,131.01,474.19,43.95,42.68,42.04,61.01,113.31,551.22,48.41,47.13,45.86
3,79.12,130.35,449.81,42.86,42.86,42.31,65.97,113.68,508.27,46.7,46.15,45.6
4,67.23,132.82,444.04,49.56,49.56,46.02,56.11,115.46,522.4,60.18,55.75,52.21
5,62.77,133.12,460.4,59.26,57.67,57.14,53.17,116.41,377.5,62.96,61.9,61.38
overall,77.9,140.54,477.02,47.27,46.53,45.66,65.32,122.46,486.45,52.11,50.74,49.63
extrapo,163.3,294.63,1000.0,46.28,45.78,0.0,134.28,251.74,1000.0,50.62,50.0,0.0

ACTOR LOSS = mse || K = 10 || STEPS = 10

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.85it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1551.55it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  5.77it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 387/387 [00:04<00:00, 79.57it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1315.97it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  5.70it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 400/400 [00:05<00:00, 77.92it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,43.56,68.47,222.12,42.71,41.67,39.58,36.89,59.69,170.66,43.75,42.71,39.58
2,74.8,97.84,290.24,38.0,36.0,34.0,63.12,84.79,368.8,40.0,38.0,36.0
3,50.42,93.85,225.17,54.0,52.0,50.0,44.36,85.4,227.94,54.0,54.0,50.0
4,61.37,101.36,194.12,54.88,52.44,50.0,53.04,90.76,260.96,57.32,54.88,51.22
5,57.23,85.66,312.51,45.12,42.68,41.46,48.4,74.62,210.4,46.34,43.9,42.68
6,55.8,92.99,198.28,54.22,50.6,49.4,47.3,81.77,214.51,56.63,50.6,49.4
7,59.41,91.41,353.66,37.93,34.48,28.74,51.29,82.2,398.71,41.38,35.63,32.18
8,25.27,70.13,164.49,74.67,74.67,74.67,22.41,63.32,165.85,76.0,74.67,74.67
9,95.25,115.44,340.68,35.79,32.63,29.47,83.03,104.84,367.09,37.89,33.68,30.53
10,54.41,81.09,203.27,41.07,41.07,39.29,45.71,68.47,254.61,41.07,41.07,39.29
overall,57.67,92.9,252.12,48.01,45.91,43.67,49.59,82.64,260.96,49.63,47.02,44.54
extrapo,228.73,368.46,1000.0,44.42,43.67,0.0,190.02,316.69,1000.0,45.53,44.54,0.0

ACTOR LOSS = mse || K = 20 || STEPS = 1

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.70it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1452.45it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 18/18 [00:02<00:00,  7.45it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 886/886 [00:02<00:00, 381.16it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1326.35it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 18/18 [00:02<00:00,  7.57it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 884/884 [00:02<00:00, 373.98it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,1.0,0.0,1680.77,100.0,100.0,100.0,1.0,0.0,1671.66,100.0,100.0,100.0
overall,1.0,0.0,1680.77,100.0,100.0,100.0,1.0,0.0,1671.66,100.0,100.0,100.0
extrapo,0.59,0.0,1000.0,100.0,100.0,100.0,0.6,0.0,1000.0,100.0,100.0,100.0

ACTOR LOSS = mse || K = 20 || STEPS = 2

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.12it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1520.85it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 12/12 [00:01<00:00,  7.14it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 613/613 [00:02<00:00, 262.45it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1315.53it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 12/12 [00:01<00:00,  7.93it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 626/626 [00:02<00:00, 268.53it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,32.64,73.24,1037.71,71.29,67.82,64.36,25.78,58.23,1103.34,72.28,69.06,66.09
2,35.94,86.66,1029.59,74.88,71.39,68.91,28.61,69.73,996.09,76.37,72.39,70.15
overall,34.29,80.23,1033.66,73.08,69.6,66.63,27.2,64.24,1049.85,74.32,70.72,68.11
extrapo,33.17,77.62,1000.0,73.08,69.6,66.63,25.9,61.19,1000.0,74.32,70.72,68.11

ACTOR LOSS = mse || K = 20 || STEPS = 5

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.75it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1480.02it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 7/7 [00:01<00:00,  6.06it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 457/457 [00:03<00:00, 137.75it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1308.53it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 8/8 [00:01<00:00,  6.30it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 497/497 [00:03<00:00, 140.70it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,104.48,167.47,518.75,44.85,43.64,43.03,88.18,146.44,476.94,49.7,46.67,45.45
2,73.05,131.4,511.83,49.68,49.04,47.13,59.99,113.78,506.01,56.05,54.78,54.14
3,78.52,130.67,449.17,48.35,46.7,46.7,65.08,114.13,607.41,54.4,52.75,51.65
4,65.92,133.4,488.04,61.06,60.18,55.75,55.03,115.91,440.65,65.49,62.83,62.83
5,62.06,133.41,431.92,64.02,64.02,61.9,52.28,116.74,389.38,69.84,69.31,67.72
overall,77.14,140.91,477.02,53.35,52.48,50.87,64.41,122.88,486.45,58.93,57.2,56.2
extrapo,161.71,295.4,1000.0,51.74,50.99,0.0,132.4,252.6,1000.0,56.95,56.58,0.0

ACTOR LOSS = mse || K = 20 || STEPS = 10

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.88it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1588.36it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 7/7 [00:01<00:00,  5.06it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 476/476 [00:05<00:00, 79.37it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1324.04it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 7/7 [00:01<00:00,  5.23it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 486/486 [00:06<00:00, 79.78it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,42.75,68.86,250.54,51.04,44.79,42.71,36.33,59.95,213.56,52.08,44.79,43.75
2,74.28,98.19,296.36,42.0,40.0,38.0,62.76,85.05,263.98,42.0,40.0,38.0
3,49.81,94.11,229.96,57.0,56.0,54.0,43.94,85.58,259.16,59.0,56.0,54.0
4,60.57,101.77,212.74,60.98,57.32,54.88,52.51,91.02,276.8,60.98,58.54,54.88
5,56.41,86.11,319.88,52.44,47.56,45.12,47.74,74.97,184.62,52.44,48.78,45.12
6,54.92,93.43,208.66,61.45,56.63,51.81,46.61,82.11,213.36,61.45,56.63,54.22
7,58.26,92.04,310.84,45.98,42.53,37.93,50.46,82.64,239.26,47.13,43.68,40.23
8,24.99,70.18,167.85,77.33,76.0,74.67,22.19,63.37,221.08,77.33,76.0,74.67
9,94.54,115.98,274.4,40.0,38.95,35.79,82.52,105.21,473.0,40.0,38.95,35.79
10,53.57,81.54,261.55,50.0,46.43,41.07,45.07,68.82,229.23,50.0,46.43,41.07
overall,56.92,93.29,252.12,53.97,50.74,47.77,49.04,82.92,260.96,54.47,51.12,48.39
extrapo,225.75,370.01,1000.0,48.64,47.77,0.0,187.93,317.75,1000.0,49.01,48.39,0.0

ACTOR LOSS = mse || K = 50 || STEPS = 1

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.23it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1395.77it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:05<00:00,  7.37it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 891/891 [00:02<00:00, 380.28it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1319.92it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.09it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 893/893 [00:02<00:00, 392.17it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,1.0,0.0,1673.75,100.0,100.0,100.0,1.0,0.0,1665.57,100.0,100.0,100.0
overall,1.0,0.0,1673.75,100.0,100.0,100.0,1.0,0.0,1665.57,100.0,100.0,100.0
extrapo,0.6,0.0,1000.0,100.0,100.0,100.0,0.6,0.0,1000.0,100.0,100.0,100.0

ACTOR LOSS = mse || K = 50 || STEPS = 2

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.99it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1509.09it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 29/29 [00:04<00:00,  7.21it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 670/670 [00:02<00:00, 240.87it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1231.71it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 31/31 [00:04<00:00,  6.84it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 694/694 [00:02<00:00, 253.58it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,31.9,73.34,957.81,72.52,69.31,66.09,24.43,58.35,1083.86,75.0,72.03,69.06
2,35.37,86.78,1109.89,76.62,72.39,70.15,27.68,69.87,1015.67,80.6,75.37,71.89
overall,33.63,80.35,1033.66,74.57,70.84,68.11,26.05,64.38,1049.85,77.79,73.7,70.47
extrapo,32.54,77.73,1000.0,74.57,70.84,68.11,24.81,61.32,1000.0,77.79,73.7,70.47

ACTOR LOSS = mse || K = 50 || STEPS = 5

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.69it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1425.63it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 18/18 [00:02<00:00,  6.27it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 561/561 [00:04<00:00, 138.49it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1285.25it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 20/20 [00:03<00:00,  5.93it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 592/592 [00:04<00:00, 138.81it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,103.83,167.79,539.91,45.45,45.45,43.64,87.88,146.54,489.86,49.09,46.67,45.45
2,72.22,131.74,482.99,52.87,50.96,49.68,59.74,113.88,567.39,56.05,54.78,54.14
3,77.89,130.96,407.43,50.55,48.9,47.8,64.82,114.2,473.09,53.85,52.75,51.1
4,65.33,133.62,520.68,61.06,61.06,61.06,54.81,115.94,419.26,64.6,63.72,61.95
5,61.48,133.6,458.07,65.61,65.61,64.02,52.12,116.77,469.25,69.31,69.31,67.2
overall,76.49,141.18,477.02,54.96,54.22,52.98,64.17,122.94,486.45,58.44,57.32,55.83
extrapo,160.34,295.97,1000.0,53.97,53.1,0.0,131.92,252.73,1000.0,57.2,56.08,0.0

ACTOR LOSS = mse || K = 50 || STEPS = 10

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.57it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1404.51it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 15/15 [00:02<00:00,  5.13it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 565/565 [00:07<00:00, 79.75it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1327.97it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 16/16 [00:03<00:00,  4.81it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 586/586 [00:07<00:00, 79.45it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,42.55,68.75,228.85,45.83,43.75,39.58,35.71,59.97,222.38,52.08,44.79,42.71
2,74.1,98.23,296.48,42.0,38.0,36.0,62.22,85.24,235.2,42.0,40.0,38.0
3,49.77,94.06,243.63,56.0,54.0,50.0,43.44,85.65,219.98,58.0,55.0,54.0
4,60.72,101.64,280.04,58.54,54.88,51.22,52.21,91.06,253.45,60.98,57.32,54.88
5,56.4,86.01,222.61,52.44,45.12,42.68,47.32,75.04,177.84,52.44,47.56,42.68
6,55.12,93.27,218.13,59.04,54.22,49.4,46.49,82.09,273.52,61.45,56.63,50.6
7,58.43,91.87,297.75,44.83,37.93,33.33,49.92,82.73,270.41,47.13,42.53,35.63
8,24.88,70.15,171.05,77.33,74.67,74.67,22.01,63.36,257.91,77.33,76.0,74.67
9,94.65,115.86,318.14,40.0,35.79,31.58,82.32,105.29,365.21,40.0,37.89,33.68
10,53.54,81.43,245.93,46.43,41.07,39.29,44.61,68.89,349.89,50.0,44.64,41.07
overall,56.93,93.2,252.12,52.36,48.14,44.79,48.65,82.98,260.96,54.34,50.37,46.9
extrapo,225.8,369.66,1000.0,45.66,44.79,0.0,186.44,318.0,1000.0,47.77,46.9,0.0

ACTOR LOSS = triplet || K = 10 || STEPS = 1

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.11it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1465.46it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 9/9 [00:01<00:00,  7.98it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 884/884 [00:02<00:00, 385.18it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1325.60it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 9/9 [00:01<00:00,  8.15it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 889/889 [00:02<00:00, 376.76it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,1.0,0.0,1679.14,100.0,100.0,100.0,1.0,0.0,1680.48,100.0,100.0,100.0
overall,1.0,0.0,1679.14,100.0,100.0,100.0,1.0,0.0,1680.48,100.0,100.0,100.0
extrapo,0.6,0.0,1000.0,100.0,100.0,100.0,0.6,0.0,1000.0,100.0,100.0,100.0

ACTOR LOSS = triplet || K = 10 || STEPS = 2

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.69it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1389.51it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:00<00:00,  7.22it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 604/604 [00:02<00:00, 259.75it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1288.08it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:00<00:00,  6.92it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 619/619 [00:02<00:00, 268.03it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,19.63,46.46,1094.41,72.77,71.04,66.83,17.85,40.33,1111.24,74.26,72.52,68.81
2,22.45,57.21,998.16,77.11,74.63,71.39,20.13,50.39,982.97,79.35,76.37,71.39
overall,21.03,52.12,1046.4,74.94,72.83,69.11,18.99,45.64,1047.27,76.8,74.44,70.1
extrapo,20.1,49.81,1000.0,74.94,72.83,69.11,18.13,43.58,1000.0,76.8,74.44,70.1

ACTOR LOSS = triplet || K = 10 || STEPS = 5

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.81it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1485.22it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  6.33it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 432/432 [00:03<00:00, 142.27it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1320.92it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  6.52it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 457/457 [00:03<00:00, 140.57it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,85.2,145.33,617.35,44.85,43.64,43.03,77.75,134.39,568.39,46.67,45.45,45.45
2,57.66,111.7,418.64,49.68,49.04,48.41,52.54,104.66,447.82,54.14,52.87,51.59
3,61.76,110.59,460.46,48.9,46.7,46.7,56.4,103.23,463.68,52.2,51.1,48.9
4,52.5,112.09,429.27,61.06,60.18,57.52,49.1,106.78,433.59,62.83,61.06,61.06
5,50.55,114.53,445.6,64.55,64.02,62.43,46.14,106.18,482.24,68.25,66.67,65.61
overall,61.83,120.46,476.57,53.6,52.48,51.49,56.59,112.29,482.16,56.7,55.33,54.34
extrapo,129.74,252.77,1000.0,52.23,51.74,0.0,117.37,232.88,1000.0,55.21,54.71,0.0

ACTOR LOSS = triplet || K = 10 || STEPS = 10

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.77it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1433.94it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  6.18it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 415/415 [00:05<00:00, 78.58it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1319.77it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  5.44it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 440/440 [00:05<00:00, 81.09it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,30.6,51.48,243.27,44.79,43.75,42.71,26.54,46.53,330.79,52.08,47.92,43.75
2,53.36,74.2,300.8,40.0,40.0,38.0,47.4,66.68,305.78,42.0,42.0,40.0
3,37.47,74.59,279.58,56.0,54.0,54.0,33.26,67.59,266.06,59.0,56.0,54.0
4,45.17,78.49,311.05,58.54,57.32,54.88,40.71,71.89,222.67,62.2,59.76,57.32
5,40.94,65.29,202.99,50.0,47.56,43.9,35.76,58.56,286.76,52.44,52.44,46.34
6,40.65,73.13,196.81,57.83,56.63,50.6,35.45,64.79,242.75,61.45,59.04,56.63
7,42.62,70.82,325.94,43.68,41.38,35.63,37.95,65.32,184.95,47.13,44.83,41.38
8,19.0,54.37,153.89,76.0,76.0,74.67,16.83,49.01,149.91,77.33,77.33,76.0
9,70.39,91.95,317.4,40.0,37.89,33.68,62.83,83.05,419.11,40.0,40.0,37.89
10,38.66,59.73,243.04,46.43,41.07,41.07,33.48,53.17,247.23,50.0,46.43,41.07
overall,41.9,72.05,258.68,51.49,49.75,47.02,37.05,65.13,268.69,54.59,52.73,49.63
extrapo,161.98,278.54,1000.0,47.39,47.02,0.0,137.9,242.39,1000.0,50.25,49.63,0.0

ACTOR LOSS = triplet || K = 20 || STEPS = 1

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.13it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1539.91it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 18/18 [00:02<00:00,  7.50it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 885/885 [00:02<00:00, 379.87it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1309.15it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 18/18 [00:02<00:00,  8.18it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 891/891 [00:02<00:00, 388.44it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,1.0,0.0,1675.02,100.0,100.0,100.0,1.0,0.0,1688.97,100.0,100.0,100.0
overall,1.0,0.0,1675.02,100.0,100.0,100.0,1.0,0.0,1688.97,100.0,100.0,100.0
extrapo,0.6,0.0,1000.0,100.0,100.0,100.0,0.59,0.0,1000.0,100.0,100.0,100.0

ACTOR LOSS = triplet || K = 20 || STEPS = 2

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.82it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1441.10it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 12/12 [00:01<00:00,  6.92it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 654/654 [00:02<00:00, 264.10it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1318.14it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 13/13 [00:01<00:00,  7.22it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 660/660 [00:02<00:00, 262.73it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,19.1,46.57,1040.55,77.23,73.51,69.8,17.44,40.41,1045.33,77.72,74.26,70.54
2,21.93,57.33,1058.16,81.34,78.36,73.88,19.78,50.48,1049.21,81.84,79.35,74.13
overall,20.51,52.24,1049.33,79.28,75.93,71.84,18.61,45.72,1047.27,79.78,76.8,72.33
extrapo,19.55,49.78,1000.0,79.28,75.93,71.84,17.77,43.66,1000.0,79.78,76.8,72.33

ACTOR LOSS = triplet || K = 20 || STEPS = 5

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.65it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1472.71it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 8/8 [00:01<00:00,  5.84it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 516/516 [00:03<00:00, 141.58it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1329.23it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 9/9 [00:01<00:00,  6.37it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 532/532 [00:03<00:00, 139.34it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,84.27,145.81,587.84,52.12,49.7,46.67,76.85,134.86,540.81,55.15,52.73,49.7
2,56.62,112.16,531.4,58.6,56.05,54.78,51.89,104.94,451.8,59.24,58.6,56.05
3,60.89,111.02,436.73,54.95,53.85,52.75,55.86,103.5,525.13,55.49,54.95,54.4
4,51.55,112.45,417.41,67.26,65.49,63.72,48.26,107.1,439.9,69.03,67.26,65.49
5,49.72,114.82,407.63,70.37,69.84,69.31,45.61,106.37,440.07,71.96,70.9,69.84
overall,60.92,120.86,476.57,60.42,58.81,57.32,55.91,112.58,482.16,61.91,60.67,58.93
extrapo,127.82,253.6,1000.0,58.31,57.69,0.0,115.96,233.49,1000.0,60.17,59.43,0.0

ACTOR LOSS = triplet || K = 20 || STEPS = 10

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.57it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1491.25it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 8/8 [00:01<00:00,  5.11it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 515/515 [00:06<00:00, 80.03it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1330.27it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 8/8 [00:01<00:00,  4.93it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 537/537 [00:06<00:00, 77.62it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,29.75,51.84,192.48,54.17,52.08,44.79,25.86,46.81,248.75,58.33,52.08,48.96
2,52.86,74.5,211.58,44.0,42.0,42.0,46.96,66.93,187.74,48.0,44.0,42.0
3,36.92,74.8,279.81,62.0,58.0,56.0,32.8,67.76,221.22,65.0,61.0,56.0
4,44.62,78.75,247.1,64.63,60.98,58.54,40.32,72.08,254.28,64.63,63.41,60.98
5,40.22,65.66,200.02,56.1,52.44,50.0,35.33,58.77,278.73,56.1,53.66,52.44
6,40.01,73.42,261.73,63.86,61.45,57.83,35.08,64.95,233.11,63.86,62.65,61.45
7,41.74,71.25,338.85,51.72,45.98,43.68,37.18,65.66,198.01,57.47,50.57,44.83
8,18.64,54.43,187.13,80.0,77.33,76.0,16.45,49.06,178.08,82.67,78.67,77.33
9,69.87,92.31,393.27,44.21,40.0,40.0,62.43,83.31,478.98,46.32,41.05,40.0
10,37.77,60.18,216.68,55.36,50.0,46.43,32.8,53.51,393.5,57.14,53.57,48.21
overall,41.25,72.36,258.61,57.82,54.22,51.61,36.55,65.35,268.69,60.17,56.2,53.35
extrapo,159.53,279.8,1000.0,52.36,51.61,0.0,136.05,243.22,1000.0,53.6,53.35,0.0

ACTOR LOSS = triplet || K = 50 || STEPS = 1

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.13it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1431.51it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:05<00:00,  7.56it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 892/892 [00:02<00:00, 347.04it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1277.78it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  8.91it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 893/893 [00:02<00:00, 390.60it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,1.0,0.0,1674.33,100.0,100.0,100.0,1.0,0.0,1676.67,100.0,100.0,100.0
overall,1.0,0.0,1674.33,100.0,100.0,100.0,1.0,0.0,1676.67,100.0,100.0,100.0
extrapo,0.6,0.0,1000.0,100.0,100.0,100.0,0.6,0.0,1000.0,100.0,100.0,100.0

ACTOR LOSS = triplet || K = 50 || STEPS = 2

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.56it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1418.86it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 31/31 [00:04<00:00,  6.91it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 704/704 [00:02<00:00, 250.66it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1256.80it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 31/31 [00:03<00:00,  8.21it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 706/706 [00:02<00:00, 268.55it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,18.3,46.51,1096.17,78.71,74.01,70.05,16.94,40.3,1006.2,78.71,73.51,69.8
2,21.42,57.3,1002.26,82.34,79.35,74.13,19.49,50.41,1088.54,82.34,78.86,73.63
overall,19.85,52.2,1049.33,80.52,76.67,72.08,18.21,45.64,1047.27,80.52,76.18,71.71
extrapo,18.92,49.74,1000.0,80.52,76.67,72.08,17.39,43.58,1000.0,80.52,76.18,71.71

ACTOR LOSS = triplet || K = 50 || STEPS = 5

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.69it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1442.60it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 20/20 [00:03<00:00,  5.78it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 604/604 [00:04<00:00, 138.65it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1288.43it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 20/20 [00:03<00:00,  6.65it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 610/610 [00:04<00:00, 142.18it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,84.59,145.66,607.48,49.7,47.88,46.67,77.59,134.53,543.73,51.52,49.09,47.88
2,56.89,112.05,490.29,56.69,55.41,54.14,52.47,104.74,471.04,58.6,56.05,55.41
3,61.18,110.91,459.14,54.95,53.3,52.2,56.49,103.28,493.91,54.95,53.85,52.75
4,51.85,112.39,381.16,65.49,63.72,62.83,48.89,106.9,543.2,67.26,64.6,63.72
5,49.92,114.77,424.72,70.37,69.31,68.78,45.98,106.27,389.84,70.37,69.84,69.31
overall,61.19,120.76,476.57,59.31,57.82,56.82,56.5,112.38,482.16,60.3,58.56,57.69
extrapo,128.39,253.4,1000.0,57.57,57.07,0.0,117.18,233.08,1000.0,58.56,57.82,0.0

ACTOR LOSS = triplet || K = 50 || STEPS = 10

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.63it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1559.32it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 18/18 [00:03<00:00,  4.96it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 615/615 [00:07<00:00, 79.24it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1329.16it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 19/19 [00:03<00:00,  4.86it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 637/637 [00:08<00:00, 77.26it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,29.24,51.66,199.48,52.08,44.79,43.75,25.36,46.63,212.78,58.33,52.08,44.79
2,52.46,74.59,214.46,44.0,42.0,40.0,46.66,66.96,301.1,46.0,42.0,42.0
3,36.46,74.77,244.06,61.0,56.0,54.0,32.27,67.71,222.35,64.0,58.0,56.0
4,44.35,78.76,250.09,63.41,58.54,57.32,40.12,72.06,234.48,64.63,60.98,58.54
5,39.83,65.61,195.44,54.88,51.22,46.34,34.9,58.78,279.93,56.1,52.44,51.22
6,39.83,73.36,240.11,62.65,59.04,56.63,34.81,64.9,234.12,63.86,61.45,57.83
7,41.29,71.23,347.54,50.57,43.68,41.38,36.8,65.62,188.4,52.87,47.13,43.68
8,18.51,54.34,217.49,80.0,77.33,76.0,16.37,49.0,322.49,82.67,77.33,77.33
9,69.57,92.38,379.77,43.16,40.0,37.89,62.06,83.42,398.14,45.26,40.0,40.0
10,37.34,60.09,270.23,55.36,46.43,41.07,32.27,53.42,336.34,57.14,50.0,46.43
overall,40.9,72.33,258.68,56.82,51.99,49.63,36.19,65.32,268.69,59.31,54.34,51.86
extrapo,158.11,279.61,1000.0,49.75,49.63,0.0,134.69,243.12,1000.0,52.23,51.86,0.0

In [36]:
for k in [10, 20, 50]:
    for steps in [1, 2, 5, 10]:
        path_string = f"models/supervised/offlineRL/*steps={min(steps, 5)}*/model.pth"
        assert len(glob.glob(path_string)) == 1
        ac = torch.load(glob.glob(path_string)[0]).to(device)

        print(f"K = {k} || STEPS = {steps}")
        key = f"actor-critic(PG)||steps={steps}||criticK={k}"
        metric_df_dict[key] = actor_critic_stats(ac, k, steps)
        display(metric_df_dict[key])
        print()
        print()

K = 10 || STEPS = 1

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.54it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1531.80it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 9/9 [00:01<00:00,  8.73it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 888/888 [00:02<00:00, 391.43it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1319.75it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 9/9 [00:01<00:00,  7.66it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 888/888 [00:02<00:00, 384.91it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,1.0,0.0,1684.68,100.0,100.0,100.0,1.0,0.0,1679.77,100.0,100.0,100.0
overall,1.0,0.0,1684.68,100.0,100.0,100.0,1.0,0.0,1679.77,100.0,100.0,100.0
extrapo,0.59,0.0,1000.0,100.0,100.0,100.0,0.6,0.0,1000.0,100.0,100.0,100.0

K = 10 || STEPS = 2

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.74it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1454.57it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:00<00:00,  7.18it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 613/613 [00:02<00:00, 265.23it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1281.56it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:00<00:00,  7.06it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 615/615 [00:02<00:00, 265.47it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,16.4,36.83,1095.17,73.51,70.54,69.06,16.32,36.1,991.43,73.51,70.05,68.07
2,18.75,46.54,1007.04,78.61,74.13,71.64,18.65,46.25,1106.69,79.1,73.88,71.39
overall,17.57,41.97,1051.21,76.05,72.33,70.35,17.48,41.49,1048.92,76.3,71.96,69.73
extrapo,16.72,39.93,1000.0,76.05,72.33,70.35,16.66,39.56,1000.0,76.3,71.96,69.73

K = 10 || STEPS = 5

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.39it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1536.48it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  6.37it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 405/405 [00:02<00:00, 138.70it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1298.05it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  5.82it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 426/426 [00:03<00:00, 136.79it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,99.72,157.01,558.62,43.03,41.82,40.61,95.83,155.94,503.73,43.64,43.03,43.03
2,70.55,124.72,452.39,46.5,45.86,45.86,66.87,122.84,523.55,49.68,48.41,47.13
3,75.62,125.73,481.15,46.15,45.6,43.96,72.03,124.37,516.38,47.25,46.7,46.15
4,63.21,125.37,512.35,53.1,51.33,51.33,61.17,126.86,477.42,61.06,57.52,54.87
5,59.77,127.12,459.1,61.9,60.32,60.32,57.62,126.83,415.34,64.02,61.9,61.9
overall,74.11,133.57,490.61,50.25,49.13,48.51,71.0,132.76,486.03,52.85,51.36,50.62
extrapo,151.05,272.25,1000.0,48.88,48.64,0.0,146.07,273.14,1000.0,51.12,50.74,0.0

K = 10 || STEPS = 10

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.56it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1462.68it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  5.62it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 398/398 [00:05<00:00, 79.13it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1335.79it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  5.45it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 421/421 [00:05<00:00, 79.64it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,34.82,57.68,239.72,43.75,42.71,41.67,30.71,52.13,137.77,45.83,43.75,42.71
2,60.34,83.0,237.96,40.0,38.0,36.0,53.78,74.96,310.3,42.0,40.0,38.0
3,41.81,82.01,300.19,54.0,54.0,50.0,37.75,75.92,253.13,56.0,54.0,54.0
4,50.11,85.89,283.15,57.32,53.66,51.22,45.0,78.76,277.94,58.54,57.32,54.88
5,45.6,71.24,285.23,46.34,42.68,42.68,40.72,65.4,297.23,52.44,46.34,43.9
6,45.3,79.78,222.29,56.63,50.6,50.6,40.4,73.52,296.53,59.04,56.63,51.81
7,48.18,77.96,200.77,41.38,35.63,33.33,42.85,71.73,217.82,43.68,41.38,37.93
8,21.16,60.24,180.83,76.0,74.67,74.67,19.17,55.47,165.04,77.33,76.0,74.67
9,79.13,101.28,332.87,35.79,33.68,32.63,71.74,94.29,403.74,40.0,37.89,33.68
10,43.23,66.15,286.98,41.07,41.07,39.29,38.55,59.33,285.77,46.43,41.07,41.07
overall,46.98,79.41,258.95,49.38,46.77,45.29,42.1,72.97,262.43,52.23,49.63,47.39
extrapo,181.43,306.65,1000.0,45.91,45.29,0.0,160.43,278.07,1000.0,48.14,47.39,0.0

K = 20 || STEPS = 1

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.36it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1437.08it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 18/18 [00:02<00:00,  7.54it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 892/892 [00:02<00:00, 359.28it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1245.67it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 18/18 [00:02<00:00,  7.54it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 892/892 [00:02<00:00, 366.50it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,1.0,0.0,1671.26,100.0,100.0,100.0,1.0,0.0,1667.65,100.0,100.0,100.0
overall,1.0,0.0,1671.26,100.0,100.0,100.0,1.0,0.0,1667.65,100.0,100.0,100.0
extrapo,0.6,0.0,1000.0,100.0,100.0,100.0,0.6,0.0,1000.0,100.0,100.0,100.0

K = 20 || STEPS = 2

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.17it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1413.15it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 12/12 [00:01<00:00,  6.87it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 656/656 [00:02<00:00, 251.86it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1258.06it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 12/12 [00:01<00:00,  6.88it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 658/658 [00:02<00:00, 265.20it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,16.26,36.86,1007.09,74.5,71.78,69.8,16.22,36.14,1004.01,74.75,71.53,69.55
2,18.6,46.58,1095.55,79.35,75.12,73.63,18.51,46.29,1092.25,79.35,75.12,73.13
overall,17.43,42.01,1051.21,76.92,73.45,71.71,17.36,41.53,1048.02,77.05,73.33,71.34
extrapo,16.58,39.96,1000.0,76.92,73.45,71.71,16.57,39.63,1000.0,77.05,73.33,71.34

K = 20 || STEPS = 5

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.84it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1489.16it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 8/8 [00:01<00:00,  6.57it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 484/484 [00:03<00:00, 136.96it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1325.64it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 8/8 [00:01<00:00,  6.05it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 499/499 [00:03<00:00, 138.49it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,99.15,157.34,563.33,46.67,45.45,45.45,95.22,156.27,570.36,49.09,46.67,45.45
2,69.56,125.21,423.1,54.78,54.14,52.87,66.05,123.24,429.02,56.05,54.78,54.14
3,74.75,126.2,496.66,52.2,51.65,51.1,71.27,124.78,496.59,53.85,52.75,51.65
4,61.94,125.93,547.97,62.83,62.83,61.06,60.4,127.18,483.32,65.49,62.83,61.95
5,58.89,127.47,443.09,69.31,67.72,66.67,56.87,127.13,451.23,69.84,69.31,67.2
overall,73.22,134.01,490.61,57.07,56.2,55.33,70.26,133.11,486.03,58.68,57.2,55.96
extrapo,149.24,273.15,1000.0,55.96,55.71,0.0,144.55,273.87,1000.0,56.82,56.45,0.0

K = 20 || STEPS = 10

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.60it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1596.31it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 7/7 [00:01<00:00,  5.20it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 505/505 [00:06<00:00, 79.34it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1327.90it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 8/8 [00:01<00:00,  5.02it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 509/509 [00:06<00:00, 79.40it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,33.98,58.05,198.15,52.08,47.92,44.79,30.06,52.41,247.71,52.08,51.04,44.79
2,59.78,83.34,345.34,44.0,42.0,40.0,53.38,75.2,258.68,44.0,42.0,40.0
3,41.2,82.25,289.83,59.0,56.0,56.0,37.33,76.08,243.75,61.0,57.0,56.0
4,49.35,86.26,309.5,63.41,59.76,57.32,44.5,78.99,274.52,63.41,60.98,58.54
5,44.71,71.71,224.78,52.44,52.44,47.56,40.15,65.72,275.88,54.88,52.44,50.0
6,44.4,80.21,267.65,61.45,59.04,56.63,39.86,73.77,307.98,62.65,61.45,57.83
7,47.01,78.55,238.39,49.43,44.83,42.53,42.11,72.08,219.79,50.57,44.83,43.68
8,20.8,60.3,179.15,77.33,77.33,76.0,18.88,55.53,142.04,78.67,77.33,76.0
9,78.42,101.78,353.27,41.05,40.0,37.89,71.32,94.57,352.25,43.16,40.0,40.0
10,42.27,66.64,172.77,51.79,46.43,44.64,37.8,59.71,294.52,55.36,48.21,46.43
overall,46.2,79.78,258.95,55.33,52.73,50.5,41.57,73.22,262.43,56.7,53.72,51.49
extrapo,178.41,308.11,1000.0,51.12,50.5,0.0,158.42,279.02,1000.0,51.99,51.49,0.0

K = 50 || STEPS = 1

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.80it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1435.39it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:05<00:00,  7.57it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 892/892 [00:02<00:00, 375.68it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1262.30it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:05<00:00,  7.36it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 892/892 [00:02<00:00, 366.82it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,1.0,0.0,1659.55,100.0,100.0,100.0,1.0,0.0,1664.85,100.0,100.0,100.0
overall,1.0,0.0,1659.55,100.0,100.0,100.0,1.0,0.0,1664.85,100.0,100.0,100.0
extrapo,0.6,0.0,1000.0,100.0,100.0,100.0,0.6,0.0,1000.0,100.0,100.0,100.0

K = 50 || STEPS = 2

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00, 10.42it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1553.13it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 32/32 [00:04<00:00,  6.92it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 717/717 [00:02<00:00, 263.23it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1316.21it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 32/32 [00:04<00:00,  6.87it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 713/713 [00:02<00:00, 263.86it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,15.37,36.79,1029.77,77.23,73.02,71.29,15.68,36.11,980.47,76.24,72.77,70.3
2,17.96,46.58,1072.76,81.34,78.11,74.63,18.09,46.29,1117.71,80.85,76.62,74.13
overall,16.66,41.98,1051.21,79.28,75.56,72.95,16.88,41.52,1048.92,78.54,74.69,72.21
extrapo,15.85,39.93,1000.0,79.28,75.56,72.95,16.1,39.58,1000.0,78.54,74.69,72.21

K = 50 || STEPS = 5

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.50it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1450.30it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 19/19 [00:03<00:00,  5.91it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 571/571 [00:04<00:00, 133.77it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1297.09it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 19/19 [00:02<00:00,  7.01it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 580/580 [00:04<00:00, 143.38it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,98.96,157.44,545.02,47.88,45.45,45.45,95.57,156.1,521.71,47.88,45.45,44.85
2,69.45,125.26,440.38,55.41,53.5,50.96,66.35,123.12,529.73,55.41,52.87,49.68
3,74.79,126.2,472.57,52.75,51.1,48.9,71.67,124.61,506.65,52.75,51.1,48.9
4,61.75,125.99,539.65,63.72,61.95,61.06,60.73,127.07,441.12,63.72,61.06,61.06
5,58.85,127.49,472.89,69.31,67.2,65.61,57.21,127.02,425.59,69.31,66.67,64.55
overall,73.13,134.05,490.61,57.69,55.71,54.22,70.6,132.97,486.03,57.69,55.33,53.6
extrapo,149.06,273.23,1000.0,55.33,54.71,0.0,145.26,273.59,1000.0,54.71,54.34,0.0

K = 50 || STEPS = 10

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 44/44 [00:04<00:00,  9.90it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1492.76it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 17/17 [00:03<00:00,  4.85it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 599/599 [00:07<00:00, 80.11it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 896/896 [00:00<00:00, 1338.60it/s]
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 18/18 [00:03<00:00,  4.74it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 614/614 [00:07<00:00, 78.45it/s]

,euc_mean,euc_std,euc_total,euc_<10 %,euc_<5 %,euc_<1 %,cos_mean,cos_std,cos_total,cos_<10 %,cos_<5 %,cos_<1 %
1,34.21,57.86,196.04,51.04,44.79,42.71,30.02,52.34,169.45,52.08,44.79,43.75
2,59.84,83.24,256.5,42.0,40.0,38.0,53.3,75.21,300.68,44.0,42.0,38.0
3,41.24,82.15,260.59,56.0,55.0,53.0,37.26,76.06,206.56,61.0,56.0,54.0
4,49.63,86.1,290.01,60.98,57.32,53.66,44.65,78.92,330.73,63.41,58.54,56.1
5,45.04,71.52,325.29,52.44,47.56,42.68,40.13,65.64,309.13,53.66,51.22,46.34
6,44.67,80.03,248.42,61.45,56.63,50.6,39.88,73.71,332.1,62.65,59.04,55.42
7,47.33,78.32,200.93,44.83,41.38,35.63,42.17,72.01,205.72,50.57,43.68,40.23
8,20.93,60.28,246.27,77.33,76.0,74.67,18.85,55.49,190.45,78.67,77.33,74.67
9,78.57,101.63,343.47,40.0,37.89,33.68,71.32,94.53,328.85,41.05,40.0,35.79
10,42.64,66.39,202.7,48.21,41.07,41.07,37.82,59.61,287.55,53.57,46.43,41.07
overall,46.42,79.63,258.95,53.6,50.0,46.65,41.58,73.17,262.43,56.2,51.99,48.76
extrapo,179.25,307.52,1000.0,47.27,46.65,0.0,158.43,278.83,1000.0,49.38,48.76,0.0

In [37]:
metric_df_dict.keys()

dict_keys(['mse_model||steps=1', 'mse_model||steps=2', 'mse_model||steps=5', 'mse_model||steps=10', 'actor_only||steps=1', 'actor_only||steps=2', 'actor_only||steps=5', 'actor_only||steps=10', 'actor+critic||steps=1||criticK=10', 'actor+critic||steps=2||criticK=10', 'actor+critic||steps=5||criticK=10', 'actor+critic||steps=10||criticK=10', 'actor+critic||steps=1||criticK=20', 'actor+critic||steps=2||criticK=20', 'actor+critic||steps=5||criticK=20', 'actor+critic||steps=10||criticK=20', 'actor+critic||steps=1||criticK=50', 'actor+critic||steps=2||criticK=50', 'actor+critic||steps=5||criticK=50', 'actor+critic||steps=10||criticK=50', 'actor-critic(mse)||steps=1||criticK=10', 'actor-critic(mse)||steps=2||criticK=10', 'actor-critic(mse)||steps=5||criticK=10', 'actor-critic(mse)||steps=10||criticK=10', 'actor-critic(mse)||steps=1||criticK=20', 'actor-critic(mse)||steps=2||criticK=20', 'actor-critic(mse)||steps=5||criticK=20', 'actor-critic(mse)||steps=10||criticK=20', 'actor-critic(mse)||steps=1||criticK=50', 'actor-critic(mse)||steps=2||criticK=50', 'actor-critic(mse)||steps=5||criticK=50', 'actor-critic(mse)||steps=10||criticK=50', 'actor-critic(triplet)||steps=1||criticK=10', 'actor-critic(triplet)||steps=2||criticK=10', 'actor-critic(triplet)||steps=5||criticK=10', 'actor-critic(triplet)||steps=10||criticK=10', 'actor-critic(triplet)||steps=1||criticK=20', 'actor-critic(triplet)||steps=2||criticK=20', 'actor-critic(triplet)||steps=5||criticK=20', 'actor-critic(triplet)||steps=10||criticK=20', 'actor-critic(triplet)||steps=1||criticK=50', 'actor-critic(triplet)||steps=2||criticK=50', 'actor-critic(triplet)||steps=5||criticK=50', 'actor-critic(triplet)||steps=10||criticK=50', 'actor-critic(PG)||steps=1||criticK=10', 'actor-critic(PG)||steps=2||criticK=10', 'actor-critic(PG)||steps=5||criticK=10', 'actor-critic(PG)||steps=10||criticK=10', 'actor-critic(PG)||steps=1||criticK=20', 'actor-critic(PG)||steps=2||criticK=20', 'actor-critic(PG)||steps=5||criticK=20', 'actor-critic(PG)||steps=10||criticK=20', 'actor-critic(PG)||steps=1||criticK=50', 'actor-critic(PG)||steps=2||criticK=50', 'actor-critic(PG)||steps=5||criticK=50', 'actor-critic(PG)||steps=10||criticK=50'])

In [38]:
model_types = ["mse_model", "actor_only", "actor+critic", "actor-critic(mse)", "actor-critic(triplet)", "actor-critic(PG)"]
step_list = [1, 2, 5, 10]
critick_list = [10, 20, 50]

key_list = []
for s in step_list:
    for m in model_types:
        if "critic" not in m:
            key_list.append(f"{m}||steps={s}")
        else:
            for k in critick_list:
                key_list.append(f"{m}||steps={s}||criticK={k}")

df_index = "overall"
ultra_metric_df = []

for key in key_list:
    print("\t".join(list(map(str, metric_df_dict[key].loc[df_index].values))))

# for key in key_list:
#     series = metric_df_dict[key].loc[df_index]
#     series.name = key
#     ultra_metric_df.append(series)

# ultra_metric_df = pd.DataFrame(ultra_metric_df)

# for i in range(ultra_metric_df.shape[0]):
#     print("\t".join(list(map(str, ultra_metric_df.iloc[i].values))))

12.11	20.5	1623.15	71.84	60.67	31.14	11.47	20.67	1607.71	75.81	65.14	33.5
1.64	1.24	1649.96	100.0	97.27	69.98	1.32	0.63	1668.32	100.0	100.0	76.43
1.0	0.0	1647.05	100.0	100.0	100.0	1.0	0.0	1680.06	100.0	100.0	100.0
1.0	0.0	1666.26	100.0	100.0	100.0	1.0	0.0	1679.44	100.0	100.0	100.0
1.0	0.0	1654.48	100.0	100.0	100.0	1.0	0.0	1671.81	100.0	100.0	100.0
1.0	0.0	1675.58	100.0	100.0	100.0	1.0	0.0	1682.48	100.0	100.0	100.0
1.0	0.0	1680.77	100.0	100.0	100.0	1.0	0.0	1671.66	100.0	100.0	100.0
1.0	0.0	1673.75	100.0	100.0	100.0	1.0	0.0	1665.57	100.0	100.0	100.0
1.0	0.0	1679.14	100.0	100.0	100.0	1.0	0.0	1680.48	100.0	100.0	100.0
1.0	0.0	1675.02	100.0	100.0	100.0	1.0	0.0	1688.97	100.0	100.0	100.0
1.0	0.0	1674.33	100.0	100.0	100.0	1.0	0.0	1676.67	100.0	100.0	100.0
1.0	0.0	1684.68	100.0	100.0	100.0	1.0	0.0	1679.77	100.0	100.0	100.0
1.0	0.0	1671.26	100.0	100.0	100.0	1.0	0.0	1667.65	100.0	100.0	100.0
1.0	0.0	1659.55	100.0	100.0	100.0	1.0	0.0	1664.85	100.0	100.0	100.0
103.22	175.37	1009.56	44.04	36.1	18.11	96.35	166.85	1011.36	47.39	38.59	20.84
42.99	94.69	1034.27	66.0	58.44	37.84	30.23	66.21	1033.78	70.72	63.65	43.92
42.27	94.98	1034.27	66.0	64.14	61.54	29.66	66.43	1033.78	70.72	67.87	65.01
41.77	95.16	1034.27	69.85	67.74	64.14	29.35	66.54	1033.78	73.2	70.72	67.0
41.23	95.31	1034.27	72.21	69.73	64.89	28.36	66.68	1033.78	76.18	73.7	68.98
34.79	80.07	1033.66	68.73	66.63	64.14	27.49	64.16	1049.85	71.59	68.86	66.63
34.29	80.23	1033.66	73.08	69.6	66.63	27.2	64.24	1049.85	74.32	70.72	68.11
33.63	80.35	1033.66	74.57	70.84	68.11	26.05	64.38	1049.85	77.79	73.7	70.47
21.03	52.12	1046.4	74.94	72.83	69.11	18.99	45.64	1047.27	76.8	74.44	70.1
20.51	52.24	1049.33	79.28	75.93	71.84	18.61	45.72	1047.27	79.78	76.8	72.33
19.85	52.2	1049.33	80.52	76.67	72.08	18.21	45.64	1047.27	80.52	76.18	71.71
17.57	41.97	1051.21	76.05	72.33	70.35	17.48	41.49	1048.92	76.3	71.96	69.73
17.43	42.01	1051.21	76.92	73.45	71.71	17.36	41.53	1048.02	77.05	73.33	71.34
16.66	41.98	1051.21	79.28	75.56	72.95	16.88	41.52	1048.92	78.54	74.69	72.21
105.26	165.52	467.23	38.83	27.79	10.3	96.32	155.41	476.12	41.19	29.78	13.4
91.08	161.39	458.42	44.79	35.61	17.37	74.01	136.73	480.95	49.01	39.7	21.34
90.17	161.87	458.42	44.79	43.3	42.93	73.12	137.18	480.95	49.13	47.15	46.65
89.12	162.4	458.42	51.99	51.12	50.5	72.43	137.51	480.95	54.47	52.85	51.61
88.82	162.53	458.42	53.23	51.36	49.88	71.86	137.75	480.95	56.58	54.59	52.73
77.9	140.54	477.02	47.27	46.53	45.66	65.32	122.46	486.45	52.11	50.74	49.63
77.14	140.91	477.02	53.35	52.48	50.87	64.41	122.88	486.45	58.93	57.2	56.2
76.49	141.18	477.02	54.96	54.22	52.98	64.17	122.94	486.45	58.44	57.32	55.83
61.83	120.46	476.57	53.6	52.48	51.49	56.59	112.29	482.16	56.7	55.33	54.34
60.92	120.86	476.57	60.42	58.81	57.32	55.91	112.58	482.16	61.91	60.67	58.93
61.19	120.76	476.57	59.31	57.82	56.82	56.5	112.38	482.16	60.3	58.56	57.69
74.11	133.57	490.61	50.25	49.13	48.51	71.0	132.76	486.03	52.85	51.36	50.62
73.22	134.01	490.61	57.07	56.2	55.33	70.26	133.11	486.03	58.68	57.2	55.96
73.13	134.05	490.61	57.69	55.71	54.22	70.6	132.97	486.03	57.69	55.33	53.6
59.05	96.27	237.18	44.91	31.51	10.55	55.4	89.59	245.86	43.42	31.27	13.4
55.5	87.94	241.43	45.78	34.62	14.02	48.15	78.56	253.18	50.37	38.71	16.87
54.47	88.54	241.43	45.78	44.29	42.31	47.08	79.15	253.18	50.37	48.51	46.28
53.79	88.89	241.43	51.74	48.39	46.65	46.55	79.41	253.18	54.84	51.74	49.63
53.07	89.11	241.43	51.99	48.26	45.53	45.85	79.56	253.18	54.84	50.87	48.01
57.67	92.9	252.12	48.01	45.91	43.67	49.59	82.64	260.96	49.63	47.02	44.54
56.92	93.29	252.12	53.97	50.74	47.77	49.04	82.92	260.96	54.47	51.12	48.39
56.93	93.2	252.12	52.36	48.14	44.79	48.65	82.98	260.96	54.34	50.37	46.9
41.9	72.05	258.68	51.49	49.75	47.02	37.05	65.13	268.69	54.59	52.73	49.63
41.25	72.36	258.61	57.82	54.22	51.61	36.55	65.35	268.69	60.17	56.2	53.35
40.9	72.33	258.68	56.82	51.99	49.63	36.19	65.32	268.69	59.31	54.34	51.86
46.98	79.41	258.95	49.38	46.77	45.29	42.1	72.97	262.43	52.23	49.63	47.39
46.2	79.78	258.95	55.33	52.73	50.5	41.57	73.22	262.43	56.7	53.72	51.49
46.42	79.63	258.95	53.6	50.0	46.65	41.58	73.17	262.43	56.2	51.99	48.76